<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射SQL语句 -->
<!-- namespace：名称空间指定为接口的全类名 -->
<mapper namespace="com.why.qianyu.dao.UserMapper">
    <select id="getUser" resultType="com.why.qianyu.entity.User">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser">
        insert into user values (#{id},#{pwd},#{salt})
    </insert>
</mapper>