<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>测试页面2</title>
</head>
<body>
<div style="left: 300px;right: 300px;top: 300px">
    <form action="/solvetest02" method="get">
        <div class="mb-3 w-25" style="margin-left: 600px;margin-top: 300px">
            ID：<input name="id" type="text" class="form-control" placeholder="User ID" aria-label="Recipient's username" aria-describedby="basic-addon2"><br>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">提交</button>
            </div>
        </div>
    </form>
    <p style="margin-left: 600px" th:if="${msg}" th:text="${msg}"></p>
</div>
</body>
</html>